 <script type="text/javascript">
  $(function() {
    $('.tag_all').click(function() {
      if(this.checked) {
          $('.tag').each(function() {
              this.checked = false;                        
          });
      } else {
         $('.tag_all').each(function() {
              this.checked = false;                        
          });
      } 
   });
 
 
   $('.tag').click(function() {
      if(this.checked) {
          $('.tag_all').each(function() {
              this.checked = false;                        
          });
      }
   });
   
   
   
   $('.size_all').click(function() {
      if(this.checked) {
          $('.size').each(function() {
              this.checked = false;                        
          });
      } else {
         $('.size_all').each(function() {
              this.checked = false;                        
          });
      } 
   });
 
 
   $('.size').click(function() {
      if(this.checked) {
          $('.size_all').each(function() {
              this.checked = false;                        
          });
      }
   });
   
   $('.colour_all').click(function() {
      if(this.checked) {
          $('.colour').each(function() {
              this.checked = false;                        
          });
      } else {
         $('.colour').each(function() {
              this.checked = false;                        
          });
      } 
   });
 
 
   $('.colour').click(function() {
      if(this.checked) {
          $('.colour_all').each(function() {
              this.checked = false;                        
          });
      }
   });
   
  
  });
  </script>

<di>Category</di>
  
  
  <div class="Row">
  <div class="Column"> 
   <%= form_tag action: 'all_collection' do %> 
   <%= hidden_field_tag'selected_cate',"All"%>
   <%= submit_tag("All", :class => @all_tag)%> 
   <% end %>
   </div>
   <div class="Column"> 
   <%= form_tag action: 'all_collection' do %> 
   <%= hidden_field_tag'selected_cate',"Men"%>
   <%= submit_tag("Men", :class =>  @men_tag)%> 
   <% end %>
   </div>
    <div class="Column"> 
   <%= form_tag action: 'all_collection' do %> 
   <%= hidden_field_tag'selected_cate',"Women"%>
   <%= submit_tag("Women", :class => @women_tag )%> 
   <% end %> </div>
    <div class="Column">
   <%= form_tag action: 'all_collection' do %> 
   <%= hidden_field_tag'selected_cate',"Kids"%>
   <%= submit_tag("Kids", :class => @kid_tag )%> 
   <% end %> 
   </div>
   <div class="Column">
   <%= form_tag action: 'all_collection' do %> 
   <%= hidden_field_tag'selected_cate',"New"%>
   <%= submit_tag("New", :class => @new_tag  )%> 
   <% end %>
   </div>
  </div>
  
     
    <%= form_tag action: 'all_collection' do %> 
    <div>
    <di>Tags</di>
    <%= label_tag("All", "All") %> <%= check_box_tag "All", "All", true,{:class => "tag_all"}%>
    <% @all_tags.each do |t| %>
    <%= label_tag(t, t) %> <%= check_box_tag t, t, false,{:class => "tag"}%>
    <% end%>
    </div>
    
    <div>
    <di>Size</di>
    <%= label_tag("All", "All") %> <%= check_box_tag "All", "All", true, {:class => "size_all"}%>
    <% @all_size.each do |t| %>
    <%= label_tag(t, t) %> <%= check_box_tag t, t, false,{:class => "size"}%>
    <% end%>
    </div>
    
    <div>
    <di>Colour</di>
    <%= label_tag("All", "All") %> <%= check_box_tag "All", "All", true, {:class => "colour_all"}%>
    <% @all_colour.each do |t| %>
    <%= label_tag(t, t) %> <%= check_box_tag t, t, false,{:class => "colour"}%>
    <% end%>
    </div>
    
    
    <%= submit_tag("Filter", :class => 'btn btn-light' )%> 
    <% end %> 
    
    <%= form_tag action: 'all_collection' do %>
    <%= label_tag("Search") %>
    <%= text_field_tag'search_text', params['search_text'] %>
    <%= submit_tag("Search", :class => 'btn btn-light' )%> 
    <% end %>

<p><h1 class="collection_title" style="text-align:center">All Collection</h1></p>

<div class="row">
    <div class="column">
            <% @displaying_items.each do |item| %>
                    <div class="wrapper">
                      
                      <div class=button-container>
       	                <%= form_with url: to_productdetails_path() do |form| %>
                        <%= form.hidden_field :itemId, value: item.id %>
                        <%= image_submit_tag(item.asseturl, width: 300, height: 300, display: "d-block w-100") %>
                        <% end %> 

                        <% if is_in_saved_list(item.id) %>
                        <div class='saved'> SAVED </div>
                        <% end %>
      
                        <%= form_with url: toggle_saved_path() do |form| %>
                        <%= form.hidden_field :itemId, value: item.id %>
                        <%= form.submit '&#9829'.html_safe, method: :post, :class => "button-favourite" %>
                        <% end %> 
                        </div>  
        
                   <h4 class="card-title"><%= item.name%></h4>
                   <%= form_tag action: 'all_collection' do %> 
                   <%= hidden_field_tag'selected_item',item.id%>
                   <% end %> 
                   </div>
            <%end%>
    </div>
</div>
