<h1>Product Details</h1>
  <% @id = 1 %>
  <% @user = User.find_by id: @id %>
  
  <% item = Item.find_by id: notice %>
  
 <tbody>
      <%= image_tag(item.asseturl, width: 300, height: 400, display: "block") %>
      <br><br>
      <h2><%= item.name %></h2>
      <h3>Price:</h3><td><%= item.price %></td>
      <h3>Description:</h3><td><%= item.itemdescription %></td>
      <br>
      
      <%= form_with url: add_to_path() do |form| %>
        <div class="field">     
          <%= form.hidden_field :user_id, value: @id%>
          <%= form.hidden_field :item_id, value: item.id%>
          <div class="col-xs-3">
          <b>Size</b><br>
          <%= form.select(:size, options_for_select([['Small', 'Small'], ['Medium', 'Medium'], ['Large', 'Large'], ['ExtraLarge', 'ExtraLarge']])) %>
          </div>
          <div class="col-xs-3">
            <b>Colour</b><br />
            <%= form.select(:colour, options_for_select([['RED', 'RED'], ['BLUE', 'BLUE'], ['GREEN', 'GREEN'], ['BLACK', 'BLACK'], ['WHITE', 'WHITE'], ['BROWN', 'BROWN'], ['PINK', 'PINK']])) %>
          </div>
          <div class="col-xs-3">
            <b>Quantity</b><br />
            <%= form.number_field :quantity, :value => 1, :min => 0 , :step => 1, :required => true %>
          </div>
        </div>
        <br>
        <div class = "mb-3">
        <%= form.submit 'Add item', method: :post %>
        </div>
    <% end %> 
 </tbody>
    