<h1>Product Details</h1>
  <% item = Item.find_by id: notice %>
  
  <% 
  sizeOptionArray = Array.new(item.size.split(",").size) { Array.new(2) }
  item.size.split(",").each_with_index do |size, index|
    sizeOptionArray[index] = [size,size]
  end

  colourOptionArray = Array.new(item.colour.split(",").size) { Array.new(2) }
  item.colour.split(",").each_with_index do |colour, index|
    colourOptionArray[index] = [colour,colour]
  end
  %>
  
 <tbody>
      <%= image_tag(item.asseturl, width: 300, height: 400, display: "block") %>
      <h3><%= item.name %></h3>
      <h3>Price:</h3><td><%= item.price %></td>
      <h3>Description:</h3><td><%= item.itemdescription %></td>
      <br>
      
      <%= form_with url: add_to_path() do |form| %>
        <div class="field">     
          <%= form.hidden_field :user_id, value: session[:current_user_id] %>
          <%= form.hidden_field :item_id, value: item.id%>
          <div class="col-xs-3">
          <b>Size</b><br>
          <%= form.select(:size, options_for_select(sizeOptionArray)) %>
          </div>
          <div class="col-xs-3">
            <b>Colour</b><br />
            <%= form.select(:colour, options_for_select(colourOptionArray)) %>
          </div>
          <div class="col-xs-3">
            <b>Quantity</b><br />
            <%= form.number_field :quantity, :value => 1, :min => 0 , :step => 1, :required => true %>
          </div>
        </div>
        <br>
        <div class = "mb-3">
        <%= form.submit 'Add item', method: :post %>
        </div>
    <% end %> 
 </tbody>
    