<h1>Rate Us</h1>
<p>Please Rate your experience with this app </p>

<%= form_with url: add_rating_path() do |form| %>
    <%= form.hidden_field :userId, value: notice %>
    <%= form.collection_radio_buttons(:rating, [['So Bad', 'So Bad'] ,['Okay', 'Okay'], ['Good', 'Good'], ['Amazing', 'Amazing']], :first, :last, {checked: 'Amazing'}, { class: "rating-options"} ) do |b| %>
      <%= b.label { b.radio_button + image_tag(b.text+'.png') } %>
    <% end %>
    <%= form.submit 'Submit', method: :post %>
<% end %>