<h1>Main#testcollection</h1>

 <head>
  <script type="text/javascript">
  $(function() {
    $('.tag_all').click(function() {
      if(this.checked) {
          $('.tag').each(function() {
              this.checked = false;                        
          });
      } else {
         $('.tag_all').each(function() {
              this.checked = false;                        
          });
      } 
   });
 
 
   $('.tag').click(function() {
      if(this.checked) {
          $('.tag_all').each(function() {
              this.checked = false;                        
          });
      }
   });
   
   function anyChecked() {
     var checked = false;
      $('.colour').each(function() {
         if(this.checked == true) {
           checked = true
         }                      
      });
      return checked;
   }
 
   $('.colour').click(function() {
     if(!this.checked && !anyChecked()) {
       this.checked = true;                        
     }
   });
  
  });
  </script>
 </head>
 
  <%= form_with url: filter_saved_path() do |form| %>
    <b>Category</b><%= form.select(:category, options_for_select([['All','All'],['Men','Men'],['Women','Women'],['Kids','Kids'],['New','New']]) ) %>
    <br>
    <%= label_tag("All", "All")%>            <%= check_box_tag("AllTags","AllTags",true,{:class => "tag_all"}) %>
    <%= label_tag("Shirt", "Shirt ") %>    <%= check_box_tag("Shirt","Shirt",false,{:class => "tag"}) %>
    <%= label_tag("Dress", "Dress ") %>      <%= check_box_tag("Dress","Dress",false,{:class => "tag"}) %>
    <%= label_tag("Sporting", "Sporting ")%> <%= check_box_tag("Sporting","Sporting",false, {:class => "tag"}) %>
    <%= label_tag("Hoodie", "Hoodie ") %>      <%= check_box_tag("Hoodie","Hoodie",false,{:class => "tag"}) %>
    <%= label_tag("Sweater", "Sweater ")%> <%= check_box_tag("Sweater","Sweater",false, {:class => "tag"}) %>    
    <br>    
    <br>
    <%= label_tag("RED", "RED ") %>          <%= check_box_tag("RED","RED",true, {:class => "colour"}) %>
    <%= label_tag("BLUE", "BLUE ") %>        <%= check_box_tag("BLUE","BLUE",false, {:class => "colour"}) %>
    <%= label_tag("GREEN", "GREEN ") %>      <%= check_box_tag("GREEN","GREEN",false, {:class => "colour"}) %>
    <%= label_tag("BLACK", "BLACK ") %>      <%= check_box_tag("BLACK","BLACK",false, {:class => "colour"}) %>    
    <br>    
    <b>Size</b><%= form.select(:size, options_for_select([['Small','Small'],['Medium','Medium'],['Large','Large']])) %>
    <br>  
    <br>  
    <%= form.submit 'Filter', method: :post %>  
  <% end %> 
    <br>  
    <br>  
  <%= form_with url: searched_path() do |form| %>
    <%= form.label :search, "Search for:" %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
  <% end %> 


<% if !notice %>
 <tbody>
    <% Item.all.each_with_index do |item, index| %>
    <div class="container">
     <%= form_with url: to_saved_path() do |form| %>
        <%= form.hidden_field :itemId, value: item.id %>
        <div class="container">
        <%= image_submit_tag(item.asseturl, width: 300, height: 400, display: "block") %>
        </div>
        <h3><%= item.name %></h3>
        <h3>Price:</h3><td><%= item.price %></td>
        <br>
        <% end %> 
      </div>
    <% end %>
 </tbody>
 <% else %>
  <tbody>
    
    <% Item.where(id: notice).each_with_index do |item, index| %>
    <div class="container">
     <%= form_with url: to_saved_path() do |form| %>
        <%= form.hidden_field :itemId, value: item.id %>
        <div class="container">
        <%= image_submit_tag(item.asseturl, width: 300, height: 400, display: "block") %>
        </div>
        <h3><%= item.name %></h3>
        <h3>Price:</h3><td><%= item.price %></td>
        <br>
        <% end %> 
      </div>
    <% end %>
 </tbody>
 <% end %>