
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
                 <li class="nav-item"><a class="nav-link" href=<%= main_main_path %>>Home</a></li>
                <li class="nav-item"><a class="nav-link" href=<%= main_about_path %>>About</a></li>
                <li class="nav-item"><a class="nav-link" href=<%= main_contact_path %>>Contact</a></li>
                <li class="nav-item"><a class="nav-link" href=<%= main_all_collection_path %>>Our Collection</a></li>
                <li class="nav-item"><a class="nav-link" href=<%= main_savedlist_path %>>Saved List</a></li>
                <li class="nav-item"><a class="nav-link" href=<%= main_checkout_path %>>Checkout</a></li>
                <%   
                  @status = "Logout"
                  @path = login_logout_path
                  @current_user = User.find_by_id(session[:current_user_id])
                  if @current_user == nil
                    @path = login_login_path
                    @status = "Login"
                  end
                %>
                <li class="nav-item"><a class="nav-link" href=<%= @path %>><%=@status%></a></li>
                <% if User.find_by_id(session[:current_user_id]) != nil %>
                   <li class="nav-item"><a class="nav-link" href=<%= main_profile_path %>>Profile</a></li>
                <% end %>
                <% if User.find_by_id(session[:current_user_id]) && User.find_by_id(session[:current_user_id]).name == "admin" %>
                   <li class="nav-item"><a class="nav-link" href=<%= admin_admin_path %>>Admin</a></li>
                <% end %>
    </ul>
  </div>  
     <%= link_to "Ruby Fashion", main_main_path, id: "logo"%>
  <ul class="nav navbar-nav navbar-right" style="padding-right: 2em;">
      <li class="nav-item"><a class="nav-link" href=<%= main_checkout_path %>><span class="glyphicon glyphicon-tags"></span> </a></li>
      <li class="nav-item"><a class="nav-link" href=<%= main_about_path %>> <span class="glyphicon glyphicon-search"></span></a></li>
  </ul>
</nav>